<div class="container" ng-controller="HomeController as home">
  <div ng-hide="home.showAddForm || home.showAddScores">
    <span>
      <h2>Team</h2>
      <button ng-click="home.showAddForm=true">
           Add Team Member
      </button>
    </span>
    <p/>
    <div ng-if="home.members">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="member in home.members">
           <a ng-href="#details/{{member.id}}">{{member.firstName}}</a> 
           <div style="float: right;"> 
                <a ng-click="home.addMemberScores(member.id)" >
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
                </a>
                <a ng-click="home.deleteMember(member.id, $index)" >
                  <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                </a>
            </div>     
        </li>
      </ul>
    </div>
  </div>

  <!-- form to add member -->
  <div ng-show="home.showAddForm">
    <form name="myform" ng-submit="home.submit()" novalidate>
      <div class="form-group row">
        <label for="firstname" class="col-xs-2 col-form-label">First Name</label>
        <div class="col-xs-10">
          <input class="form-control" name="firstName" ng-model="member.firstName" type="text" id="firstName" maxlength="20" size="30" required>
        </div>
        <p class="error validationerror" ng-show="myform.firstName.$invalid && myform.firstName.$touched">
          First name required</p>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-xs-2 col-form-label">Last Name</label>
        <div class="col-xs-10">
          <input class="form-control" name="lastName" ng-model="member.lastName" type="text" id="lastName" maxlength="20" size="30"  required>
        </div>
        <p class="error validationerror" ng-show="myform.lastName.$invalid && myform.lastName.$touched">Last name required</p>
      </div>

      <div class="form-group row">
        <label for="addressLine1" class="col-xs-2 col-form-label">Address Line 1</label>
        <div class="col-xs-10">
          <input class="form-control" name="addressLine1" ng-model="member.addressLine1" type="text" id="addressLine1" maxlength="50" size="50" required>
        </div>
        <p class="error validationerror" ng-show="myform.addressLine1.$invalid && myform.addressLine1.$touched">Address required</p>
      </div>
      <div class="form-group row">
        <label for="addressLine2" class="col-xs-2 col-form-label">Address Line 2</label>
        <div class="col-xs-10">
          <input class="form-control" name="addressLine2" ng-model="member.addressLine2" type="text" id="addressLine2" size="50"  maxlength="50">
        </div>
      </div>
       <div class="form-group row">
        <label for="city" class="col-xs-2 col-form-label">City</label>
        <div class="col-xs-10">
          <input class="form-control" name="city" ng-model="member.city" type="text" id="city" maxlength="25" size="30"  required>
        </div>
        <p class="error validationerror" ng-show="myform.city.$invalid && myform.city.$touched">City required</p>
      </div>
       <div class="form-group row">
        <label for="state" class="col-xs-2 col-form-label">State</label>
        <div class="col-xs-10">
          <input class="form-control" name="state" ng-model="member.state" type="text" id="state" maxlength="25" size="30" required>
        </div>
        <p class="error validationerror" ng-show="myform.state.$invalid && myform.state.$touched">State required</p>
      </div>
       <div class="form-group row">
        <label for="zip" class="col-xs-2 col-form-label">Zip Code</label>
        <div class="col-xs-10">
          <input class="form-control" name="zip" ng-model="member.zip" type="text" id="zip" size="10" required>
        </div>
        <p class="error validationerror" ng-show="myform.zip.$invalid && myform.zip.$touched">Zip  Code required</p>
      </div>

      <div class="form-group row">
        <button type="submit" class="btn btn-primary" ng-disabled="myform.$invalid">Submit</button>
        <button type="button" class="btn btn-primary" ng-click="home.setShowAddFormFlag(false)">Cancel</button>
      </div>
    </form>
  </div>

  <!-- form to add scores -->
  <div ng-show="home.showAddScores">

    <form name="myform1" ng-submit="home.submitScores()" novalidate>

    <div class="form-group row">
        <label for="bars" class="col-xs-2 col-form-label">Bars</label>
        <div class="col-xs-10">
          <input class="form-control" name="bars" ng-model="member.bars" type="number" id="bars" maxlength="6" size="10" required>
        </div>
        <p class="error validationerror" ng-show="myform1.bars.$invalid && myform1.bars.$touched">
          Bar score required</p>
      </div>
      
       <div class="form-group row">
        <label for="beam" class="col-xs-2 col-form-label">Beam</label>
        <div class="col-xs-10">
          <input class="form-control" name="beam" ng-model="member.beam" type="number" id="beam" maxlength="6" size="10" required>
        </div>
        <p class="error validationerror" ng-show="myform1.beam.$invalid && myform1.beam.$touched">
          Beam score required</p>
     </div>

       <div class="form-group row">
        <label for="floor" class="col-xs-2 col-form-label">Floor</label>
        <div class="col-xs-10">
          <input class="form-control" name="floor" ng-model="member.floor" type="number" id="floor" maxlength="6" size="10" required>
        </div>
        <p class="error validationerror" ng-show="myform1.floor.$invalid && myform1.floor.$touched">
          Floor score required</p>
     </div>

       <div class="form-group row">
        <label for="vault" class="col-xs-2 col-form-label">Vault</label>
        <div class="col-xs-10">
          <input class="form-control" name="vault" ng-model="member.vault" type="number" id="vault" maxlength="6" size="10" required>
        </div>
        <p class="error validationerror" ng-show="myform1.vault.$invalid && myform1.vault.$touched">
          Vault score required</p>
     </div>

      <div class="form-group row">
        <button type="submit" class="btn btn-primary" ng-disabled="myform1.$invalid">Submit</button>
        <button type="button" class="btn btn-primary" ng-click="home.setShowAddScores(false, false)">Cancel</button>
      </div>
    </form>

   </div>
     
  </div>

</div>